<html><head><title>Login</title></head>
<body style="background:black;color:cyan;text-align:center;">
<h2 style="text-shadow:0 0 10px cyan;">E R R O R I O S</h2>
<form method="post">
<input name="username" placeholder="Username"/><br>
<input name="password" type="password" placeholder="Password"/><br>
<button type="submit">Login</button>
</form></body></html>
